@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'antd/dist/antd.css';

:root {
  --fullscreen: 100vh;
}

body {
  background-color: #f4f8fb;
  overflow: hidden;
}

/* antd && tailwind css conflicts */
.ant-btn-primary {
  background-color: #1677ff;
}
.ant-switch {
  background: rgba(0, 0, 0, 0.25);
}
.ant-switch.ant-switch-checked {
  background: #1677ff;
}
.h-screen {
  height: var(--fullscreen);
}

/** page login */
.page-login {}